PUSHOVER_USER_KEY=u9i1akrea9zwc5gpem9ym4zqdcppj2
PUSHOVER_APP_TOKEN=aat8agv9n9vf34cswmtbmqbhcy89r6
STOCK_TICKERS=AAPL,MSFT,TSLA
CHANGE_THRESHOLD_PERCENT=2.0
LOOKBACK_DAYS=3
POLL_INTERVAL_MINUTES=15
HF_MODEL_NAME=ProsusAI/finbert
HF_SENTIMENT_DEVICE=cpu
